body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.additionalContent {
  display: none; background-color: none;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #BBB;
  }

.thumb {
  max-height: 140px;
  max-width: 140px;
  display: inline-block;
  padding-left: 20px;
}