doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    meta(name="description", content="nss")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Savings Multiplied Part III
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css")
    link(href='http://fonts.googleapis.com/css?family=Corben:400,700', rel='stylesheet', type='text/css')
    link(rel="stylesheet", type="text/css", href="/stylesheets/main.css")

  body
    .container
      // TOP SECTION OF PAGE
      .col-md-12.rh150.light-teal
        p Mockup Page -- click "Buy" on navigation bar to view auction page
        .row
          .col-md-1
          .col-md-10.rh100.white.inner-top
            ul.link-list.link-list-right.pad-top-20
              li.pillbox.baby-blue About
              li.pillbox.green Contact
              li.pillbox.purple Blog
              li.pillbox.pink Press
